<table>
  <tr>
    <th>タイトル</th>
    <th>コメント</th>
    <th></th>
  </tr>
  <% @items.each do |item|%>
  <tr>
    <td><%= item.title %></td>
    <td><%= item.text %></td>
    
  </tr>
  <% end %>
</table>