/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@font-face {
	font-family: "bananaslipplus";
	src: font-url(asset-path("bananaslipplus.otf"));
}
@font-face {
	font-family: "Makinas-4-Flat";
	src: font-url(asset-path("Makinas-4-Flat.otf"));
}

body {
	font-family: "Makinas-4-Flat";
}

header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 999;
}

.main {
	margin-left:33%;
	width: 100%;
}

.wrap-video{
  position: absolute;
  z-index: -100; /*必ず必要*/
  height: 840px;
}

.wrap-video video{
  width: 100%;
  height:100%;
}

.wrap-video .text{
  position: absolute;
  top: 35%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); /*上下左右中央寄せ*/
  text-align:center;
}

.wrap-video .text p{
  font-size:50px;
  font-weight:bold;
  color:white;
}

.wrap-video .text .headline{
  font-size:20px;
}

.signin-box {
	width: 400px;
	height: 400px;
	background-color: white;
	margin-top: 15%;
	margin-left: 30%;
	border: 2px solid #aaa;
	border-radius: 10px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
	padding-left: 5%;
	padding-top: 3%;
}

.signup-box {
	width: 400px;
	height: 550px;
	background-color: white;
	margin-top: 8%;
	margin-left: 32%;
	border: 2px solid #aaa;
	border-radius: 10px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
	padding-left: 5%;
	padding-top: 3%;
}


.navbar-brand {
    font-family: "bananaslipplus";
	font-size: 50px;
	color: #FF9933;
}

.nav-item {
	font-size: 20px;
	font-family: "bananaslipplus";
}

.edit-btn {
	display: block;
	width: 120px;
	padding: 0.8em;
	margin-top: 20px;
	margin-left: 25%;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-size: 15px;
	border: 2px solid #FFCC33;
    background-color: #FFCC33;
	box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, .3);
}

.edit-btn:hover {
	background: #FF6600;
	border-color: #FF6600;
	color: #fff;
	text-decoration: none;
	box-shadow: none;
}



@media screen and (max-width: 425px) {
  header .nav-item {
	display: none;
  }

  #wrapper nav {
    position: fixed;
    top: 0;
    height: 100%;
    padding-top: 50px;
    background:#333;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
　}
  #wrapper nav ul li {
    display:block;
    padding: 20px 28px
  }

  #wrapper nav ul li a {
    text-decoration: none;
    color: #ddd
  }

  #wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 570px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }

  #wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }

  #wrapper .btn-gnavi span:nth-child(1) {
    top: 0
  }

  #wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
  }

  #wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
  }

  #wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  #wrapper .btn-gnavi.open span {
    background: #666
  }

  #wrapper .btn-gnavi.open span {
    width: 24px;
  }
  #wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
  }

  #wrapper .contents section:nth-child(odd) p {
    left: 10%
  }

  #wrapper .contents section:nth-child(even) p {
    right: 10%
  }

  .main {
	width: 100%;
  }

  .wrap-video{
    position: absolute;
    z-index: -100;
    height: 840px;
    width: 100%;
    margin-top: -70%;
  }

  .wrap-video video{
    width: 100%;
    height: 100%;
  }

  .wrap-video .text{
    margin-top: 70%;
  }

  .wrap-video .text p{
    font-size:50px;
    font-weight:bold;
    color:white;
  }
  .wrap-video .text .headline{
  font-size:20px;
  }

  .signin-box {
	width: 400px;
	height: 400px;
	background-color: white;
	margin-top: 15%;
	margin-left: 30%;
	border: 2px solid #aaa;
	border-radius: 10px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
	padding-left: 5%;
	padding-top: 3%;
  }

  .signup-box {
	width: 400px;
	height: 550px;
	background-color: white;
	margin-top: 8%;
	margin-left: 32%;
	border: 2px solid #aaa;
	border-radius: 10px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
	padding-left: 5%;
	padding-top: 3%;
  }
}