<header class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <!-- ロゴ画像 -->
	  <div>
      <%= link_to user_top_path, style: 'color: #fcbf1e' do %>
        <h1>LOGO</h1>
      <% end %>
    </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </nav>
</header>