<header class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="/">session</a>
  </nav>
  <div id="wrapper">
    <p class="btn-gnavi">
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div><br>
</header>